 <div class="main">
      <div class="one">
        <div class="register">
          <h3>Create your account</h3>
		<%= form_for(@user) do |f| %>

			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

			<div>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>

			<div>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>
			
			<div>
				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation %>
			</div>

			<div>
				<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			</div>
			<div class="alternate_signIn_container">
		        <span class="alternate_signIn_text">
		          or sign-up using
		        </span>
				<ul class="socialConnect_menu">
		          <li>
		            <img src="<%= asset_path('fb_icon.png') %>" />
		          </li>
		          <li>
		            <img src="<%= asset_path('gmail_icon.png') %>" />
		          </li>
		          <li>
		            <img src="<%= asset_path('twitter_icon.png') %>" />
		          </li>
	        	</ul>
		<% end %>
	</div>
</div>